body{
  margin: 0;
  padding: 0;
  h1{
    margin: 10px;
    padding: 20px   ;
  }

/* this is the parent class selector */
.parent{
  border: solid 12px red ;   
  display:flex;
  height: 100vh;
  justify-content:space-between;
  /* align-items:baseline; */
  flex-flow: row wrap;

  /* this is the child class selector */
    .child{
      border: solid 2px rgb(10, 10, 147) ;
      background-color: rgb(15, 173, 209);
      /* width: 3rem; */
      height: 80px;
      padding: 0px 15px 0px 15px;
      color: white;
      /* display: flex; */
      justify-content: end;

    }
  }
}